#Header{
    border: solid 8px black;
    width: 500px; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #8e41d5;
    text-decoration: underline;
    text-shadow: 3px 2px red;

}

#LeftNav{
    border: solid 8px black;
    width: 400px;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    background-color: #8e41d5;
    padding: 8px;
    text-shadow: 3px 2px red;
}

#Content{
    border: solid 8px black;
    width: 500px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    background-color: #8e41d5;
    padding: 15px;
 
}

#Footer{
    border: solid 8px black;
    width: 700px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8e41d5;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Passion One";
    color: #ffbc00
}
p{
    font-family: "Arial";
    color: white;
}
h3{
    color: #ffbc00;
    font-size: 40px;
    font-weight: bold;
    font-family: "Passion One"
}
body{
    background-color: grey;
}
#bow{
    color: #ffbc00;
    font-size: 20px;
    font-weight: bold;
}
a{
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
}